



.menu-list-right{width: 88.3%;height: 600px;float: left;border: 1px solid black}

.page-title{border-bottom:1px #ddd solid;overflow:hidden;padding:5px 0;margin-bottom:8px;}
.page-title .modular{display:block;}
.page-title i{display:inline-block;width:23px;height:19px;position:relative;top:3px;margin-right:5px;}
.page-title em{font-style:normal;color:#3d3d3d;font-size:15px;font-weight:bold;}
.pt-link-btn{font-size:13px;background:#96aecd;display:block;padding:5px 8px;border-radius:2px;color:#fff;cursor:pointer;text-decoration: none}
.pt-link-btn:hover{background:#a0b7d4;}
.fl{float:left;}
.fr{float:right;}

table {border-collapse:collapse;border-spacing:0;word-wrap:break-word; word-break:break-all;margin-top: 20px}
*{font-size:14px;font-family:'microsoft yahei';}
/*list style*/
.list-style{width:100%;}
.list-style th{border:1px #ddd solid;height:35px;}
.list-style td{border:1px #ddd solid;padding:5px;}
.list-style td em,i{font-style:normal;}
.list-style td a{cursor:pointer;}
.list-style .pic-area{width:100px;}
.list-style .thumbnail{width:30px;height:30px;}
.list-style .children-checkbox{width:15px;height:15px;float:left;}
.list-style .td-name{word-wrap:break-word;width: 200px}
.list-style address{width:450px;font-style:normal;}

.trbgcolor{background:#f1f1f1;}
.pic-pic{width: 70px;height: 50px;margin: 0% 15%;}